DJANGO_SETTINGS_MODULE="config.settings.development"
DEBUG=True
SECRET_KEY ="secret_key"
ALLOWED_HOSTS="*"
APPEND_SLASH=True

DATABASE_NAME="DBname"
DATABASE_USER="admin"
DATABASE_PASSWORD="123456789"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
